.search-block {
  padding: 0.5rem 0 0.5rem;
  position: fixed;
  width: 100%;
  background: #fff;
}

.main-input {
  width: 90%;
  height: 2rem;
  max-width: 30rem;
  border: 1px solid;
  border-color: #ebecec;
  border-radius: 5px;
}

.data-block {
  padding-top: 50px;
}

.data-item {
  border-bottom: 1px solid;
  border-color: #d6d8da;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.main-column {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
}

.sub-column {
  font-size: 0.8rem;
  font-weight: 300;
  color: #000;
}
